$fullid_prefix = "vrchat-"
$repo_basepath = "C:/YourPath/"
$origin_prefix = "git@gitlab.com:YourName/"
$template_repo = "git@gitlab.com:YourName/vrchat-avatar-template.git"
$default_branch = "master"
